<p>lista-destinos component</p>

<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <form>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" #nombre placeholder="Ingresar nombre...">
                        </div>
                        <div class="form-group">
                            <label for="Imagen Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" name="url" #url placeholder="Ingresar url...">
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-destino-viaje *ngFor="let i of destinos" [destino]="i"></app-destino-viaje>
    </div>
</div>

<!--podemos usar un componente dentro de otro-->
<!--<app-destino-viaje *ngFor="let i of destinos" [nombre]="i"></app-destino-viaje>-->
<!--mostrar todos los destinos con angular-->