<div class="container content">
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  <!--<app-destino-viaje></app-destino-viaje>-->
  <app-lista-destinos></app-lista-destinos>


  
  <!-- leccion 3
  <h5>Vinculando datos a componentes</h5>
  <input name="titulo" type=”text” #titulo>
  <input name="titulob" type="submit" (click)="agregar(titulo)">
-->
</div>